<div id="main-container">
    <main class="w-80 h-auto">
    <h1 phx-update="ignore" id="title" class="text-2xl" role="img" aria-label="Cygni Hackathon">CYGNI HACKATHON</h1>
        {@inner_content}
    </main>
</div>